{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["warn", 2],
    "semi": "off",
    "no-unused-vars": "warn"
  }
}
