image: node:6.9.0

before_script:
  - npm install -g yarn
  - make yarn

stages:
  - test
  - documentation

test_coverage:
  stage: test
  script:
    - npm run cov
  artifacts:
    paths:
    - coverage/

api_reference:
  stage: documentation
  script:
    - npm run docs
  artifacts:
    paths:
    - docs/
