# Setup auth for Glispa NPM registry
//nexus02.srv.glispa.com:8081/repository/:_authToken=e8e7e502-ff63-3b4a-a7a3-8377a8d73462
# Setup multiple registries
registry=http://registry.npmjs.com/
@glispa:registry=http://nexus02.srv.glispa.com:8081/repository/npm-hosted
progress=true
always-auth=true

# Publish
# npm publish --scope=glispa
